<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>WDI Project 2</title>
  <link href="https://fonts.googleapis.com/css?family=Baloo|Bungee" rel="stylesheet">




  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/vendors/jquery.easings.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/vendors/scrolloverflow.js"></script>

  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/client.js" charset="utf-8"></script>

</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><span class="redHalf">A</span> or <span class="blueHalf">B</span>?</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/questions">Questions</a></li>
        <li><a href="/questions/new">Create a question</a></li>
        <% if (locals.isLoggedIn) { %>
            <li><a class="nav-link" href="/logout">Logout</a></li>
        <% } else { %>
            <li><a class="nav-link" href="/login">Log In</a></li>
            <li><a class="nav-link" href="/register">Register</a></li>
        <% } %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/questions">Questions</a></li>
        <li><a href="/questions/new">Create a question</a></li>
        <% if (locals.isLoggedIn) { %>
            <li><a class="nav-link" href="/logout">Logout</a></li>
        <% } else { %>
            <li><a class="nav-link" href="/login">Log In</a></li>
            <li><a class="nav-link" href="/register">Register</a></li>
        <% } %>
      </ul>
    </div>
  </nav>



  <main>
    <% for (const type in messages) { %>
      <p><%= messages[type] %></p>
    <% } %>
    <%- body %>
  </main>
</body>
</html>
