<h1>Login</h1>
<% if (locals.message) { %>
  <p><%= message %></p>
<% } %>

<div class="row">
  <form class="col s12" method="POST" action="/login">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">email</i>
        <input id="email icon_prefix" type="text" name="email" class="validate">
        <label for="email icon_prefix">Email</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">lock</i>
        <input id="password icon_prefix" name="password" type="password" class="validate">
        <label for="password icon_prefix">Password</label>
      </div>
      <div class="input-field col s6">
        <button class="btn-large waves-effect waves-light green">Login</button>
      </div>
    </div>
  </form>
</div>
