$backgroundColor: white;
$textColor: black;
$smallerTextColor: black;
body {
  font-family: sans-serif;
  background: $backgroundColor;
}
nav {
  background: $backgroundColor !important;
  font-family: 'Bungee', cursive !important;
  a {
    color: $textColor !important;
  }
}
label {
  color: $textColor !important;
}

.questionIndex {
  background: $backgroundColor;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
h1 {
  font-family: 'Bungee', cursive;
  font-size: 70px;
  text-align: center;
  color: $textColor;
}
.redHalf {
  color: red;
}
.blueHalf {
  color: blue;
}
.question {
  background: $backgroundColor;
  margin: 10px auto;
  width: 100%;
  // height: 100vh;
  text-align: center;
  font-family: 'Baloo', cursive;
  font-size: 20px;
  text-align: left;
  color: $smallerTextColor !important;
  a {
    text-decoration: none;
    color: black;
    font-size: 50px;
  }
  p{
    margin: 50px auto;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    .questionTitle {
      margin-top: 0;
    }
  }
  .section1{
    float: left;
    width: 50%;
    height: 70%;
    color: red;
  }
  .section2{
    float: right;
    width: 50%;
    height: 70%;
    color: blue;
  }
  .opt1, .opt2 {
    margin: 0 auto;
    font-size: 15px;
    border: none;
  }
  .option1:hover {
    background-color: red;
    color: white;
  }
  .option2:hover {
    background-color: blue;
    color: white;
  }
  p{
    width: 90%;
  }
}
.questionShow {
  background: $backgroundColor;
  margin: 10px auto;
  width: 100%;
  height: 480px;
  text-align: center;
  font-family: 'Baloo', cursive;
  font-size: 20px;
  text-align: left;
  color: $smallerTextColor !important;
  p{
    margin: 50px auto;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    list-style: none;
    width: 90%;
  }
  .opt1, .opt2 {
    margin: 0 auto;
    font-size: 15px;
    border: none;
  }
  .opt1, .option1 {
    color: red;
  }
  .opt2, .option2 {
    color: blue;
  }
  .option1:hover {
    background-color: red;
    color: white;
  }
  .option2:hover {
    background-color: blue;
    color: white;
  }
}
.edit {
  float: left;
  margin: 5px 0 15px 10px;
}
.delete {
  float: right;
  margin: 5px 10px 15px 0;
}

.backRed {
  background-color: rgba(244, 0, 0, 0.59);
  p{
    border-color: black;
  }
}
.backBlue {
  background-color: rgba(0, 0, 244, 0.59);
  p{
    border-color: black;
  }
}


.active {
  background-color: white !important;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #000;
}
.fp-controlArrow.fp-prev {
  border-color: transparent #000 transparent transparent;
}
