<h1>Questions</h1>
<ul>
  <% questions.forEach(question => { %>
    <li><a href="/questions/<%= question._id %>"><%= question.question %></a></li>
    <li class="option1"><%= question.option1 %></li>
    <li class="option2"><%= question.option2 %></li>
    <br>
  <% }); %>
</ul>
