<h1>Add Question</h1>

<form method="post" action="/questions">
  <label for="question">Question:</label>
  <input type="text" id="question" name="question">
<br>
  <label for="option1">Option 1:</label>
  <input type="text" id="option1" name="option1">
<br>
  <label for="option2">Option 2:</label>
  <input type="text" id="option2" name="option2">
<br>
  <input type="submit" value="Create" class="btn-large waves-effect waves-light blue">
</form>
